/JitsAdMobInterstitial/JitsAdMobInterstitial/bin/*
/JitsAdMobInterstitial/JitsAdMobInterstitial/obj/*
/JitsAdMobInterstitial/JitsAdMobInterstitial.Android/bin/*
/JitsAdMobInterstitial/JitsAdMobInterstitial.Android/obj/*